:root {
  /* Color Schemes */
  /* Tool for opacity % https://gist.github.com/lopspower/03fb1cc0ac9f32ef38f4 */
 
  --green: #3A5A40;
  --green-dark: #344E41;
  --green-dark-80: #344E41CC;
  --green-darker: #1E2C20;
  --green-darkest: #18211A;
  --green-darkest-80: #18211ACC;
  --white: #DAD7CD; 
  --white-50: #DAD7CD80;
  --lime: #A3B18A;
  --red: #BF8989;
  --red-50: #BF898980;
  --gray: #4A4841;
  --gray-80: #75847CCC;
}

/*** General Styling ***/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  color: var(--green);
  font-size: 1rem;
  min-height: 100vh;
  box-sizing: border-box;
}

h2 { /* For Page titles */
  font-size: clamp(1.4rem, calc(2vw + 1rem), 4rem);
  font-weight: 700;
  margin: 1.5rem 0;
  text-align: center;
}

h3 {
  font-size: clamp(1.2rem, 1.5vw, 2rem);
  font-weight: 700;
}

h4 {
  font-size: clamp(1.1rem, 1.2vw, 1.2rem);
  font-style: italic;
  margin-bottom: 3vh;
}

a {
  font-style: italic;
  color: var(--green);
  text-decoration: underline;
}
a:hover {
  color: var(--green-darker);
}

button {
  font-weight: 700;
  color: var(--white);
  background-color: var(--green-dark-80);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 1vh .5vw;
  min-width: 80px;
  align-self: center;
}
button:hover {
  background-color: var(--white-50);
  color: var(--green);
  border: 1px solid var(--green);
}


form {
  display: flex;
  flex-direction: column;
  justify-self: center;
  gap: 5px;
  border-radius: 10px;
  width: 50vw;
  max-width: 750px;
  color: var(--green);
}

input, textarea {
  margin: 1vh 0;
  padding: 1vh 1vw;
  background-color: var(--white);
  color: var(--green);
  border: 2px solid var(--green);
}

textarea {
  resize: vertical;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}

label {
  font-weight: 700;
  font-size: larger;
}

main {
  flex-grow: 1;
  text-align: center;
}

.error {
  color: var(--red);
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--red-50);
  border-radius: 10px;
  border: 2px solid var(--white); 
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--gray-80); 
}

::-webkit-scrollbar-track {
  background-color: var(--white); 
  border-radius: 10px; 
}

/* Dark Mode Styling */
body.dark-mode {
  background-color: var(--green-dark);
  color: var(--white);
}

body.dark-mode h2, 
body.dark-mode p, 
body.dark-mode a{
  color: var(--white);
}

body.dark-mode input, body.dark-mode textarea {
  background-color: inherit;
  border-color: var(--green-darker);
}

body.dark-mode a:hover {
  color: var(--lime);
}

body.dark-mode label,
body.dark-mode input, 
body.dark-mode textarea {
  color: var(--white);
}
body.dark-mode ::placeholder {
  color: var(--white-50);
}

/*** Component Styling ***/
/* UserCard */
.user-list {
  display: flex;
  flex-wrap: wrap;
  gap: clamp(10px, 1vw, 20px);
  justify-content: center;
}

.user-card-compact .user-profile .user-info {
  overflow: hidden;
  margin: .25rem;
}

.user-profile {
  border: 2px solid var(--gray-80);
  width: clamp(180px, 20vw, 200px);
  height: clamp(220px, 8vw, 300px);
  margin-top: 20px;
  padding: .5rem 1rem;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.user-profile h3 {
  font-size: clamp(1.2rem, 2vw, 1.4rem);
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding-bottom: .5rem;
}
.user-profile p {
  font-size: clamp(0.6rem, .75vw, 0.8rem);
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}

.user-profile img {
  width: clamp(50px, 6vw, 75px);
  height: auto;
  align-self: center;
  border-radius: 50%;
  margin-bottom: 10px;
  border: 2px solid var(--red);
}

.user-info {
  overflow-y: auto;
  padding: 0 1rem;
  margin-bottom: clamp(0.5rem, 2vw, 1rem);
}

.user-actions { /* container for Profile/GitHub button groups */
  display: flex;
  justify-content: center;
  gap: 8px;
  align-items: center;
}

.has-bio {
  margin: .5rem 0 1rem;
}

body.dark-mode .user-profile {
  background: var(--green-dark);
  color: var(--white);
}

header, footer {
  flex-shrink: 0;
}

/* Header Styling */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--green);
  color: var(--white);
  padding: 15px 20px;
  width: 100%;
  box-sizing: border-box;
}

body.dark-mode header {
  background-color: var(--green-darker);
}
body.dark-mode header button {
  background-color: var(--green-darker);
}

header .left-section {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  font-size: 1.5em;
  font-weight: bold;
  margin-right: 2vw;
}

.users-btn {
  background: none;
  color: var(--white);
  padding: 8px 12px;
  cursor: pointer;
  border: none;
  font-size: 1.1em;
}

.home-btn {
  background: none;
  color: var(--white);
  padding: 8px 12px;
  cursor: pointer;
  border: none;
  font-size: 1.1em;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.auth-buttons {
  display: flex;
  gap: 1.2vw;
}

.signup-btn, .login-btn {
  background: none;
  border: none;
  color: var(--white);
  padding: 8px 12px;
  cursor: pointer;
  font-size: 1.2em;
  font-weight: 700;
  white-space: nowrap;

}

/* Footer Styling */

footer {
  border-top: 3px solid var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--lime);
  padding: 15px 20px;
  width: 100%;
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  font-weight: 700;
}

body.dark-mode footer {
  background-color: var(--green-darkest);
}

/* Copyright Info */
.footer-left {
  flex: 1;
  font-size: 0.8rem;
}

/* Navigation Options */
.footer-center {
  flex: 1;
  text-align: center;
  display: flex;
}

.about-btn, .contact-btn {
  color: var(--green);
  background: none;
  font-weight: 900;
  font-size: 1.2em;
  padding: 8px 12px;
  border: none;
  cursor: pointer;
  white-space: nowrap;
  min-width: 120px;
}

/* Homepage styling */

.top-content {
  margin-top: 0;
  padding: 5vh 0;
  background-color: var(--lime);
}

body.dark-mode .top-content {
  background-color: #536C53;
}
  body.dark-mode button {
  background-color: var(--green-darkest-80);
  color: var(--white);
}
body.dark-mode .search-input {
  background-color: var(--gray);
  color: var(--white);
  border-color: var(--green-darkest);
}

main .intro-text {
  margin-bottom: 5vh;
  font-size: 1.2em;
  font-weight: 700;
}

.search-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  padding: 10px;
  
}

.search-input {
  font-size: 1em;
  border: 2px solid var(--green-dark-80);
  background-color: var(--white);
  border-radius: 25px;
  width: 50vw;
  max-width: 800px;
  padding: 10px;
  margin-right: 10px;
}

.search-btn {
  padding: 10px 28px;
  font-size: 1em;
  background-color: var(--green);
  color: var(--white);
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.video-section {
  width: 100%;
  height: 50vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

video {
  width: 50%;
  height: 50%;
}

/* Darkmode toggle */
.footer-right {
  flex: 1;
  text-align: right;
}

.switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--green);
  transition: .4s;
  border-radius: 20px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: var(--white);
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--gray);
}

input:checked + .slider:before {
  transform: translateX(14px);
}


/* User page Styling */

.generate-btn {
  background-color: var(--green);
  color: var(--white);
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  margin-bottom: 2vh;
}

.users-displayed {
  color: var(--green);
}

.users-displayed select {
  margin: 0em .25em;
  appearance: none;
  background-color: var(--white);
  cursor: pointer;
  border: 2px solid var(--green);
  border-radius: 5px;
  color: var(--green);
  text-align: center;
  font-size: 1em;
  font-weight: 700;
  width: 2vw;
  min-width: 25px;
  max-width: 50px;
}

body.dark-mode .users-displayed {
  color: var(--white);
}

body.dark-mode .users-displayed select {
  background-color: var(--green-dark);
  color: var(--white);
  border-color: var(--white);
}

.user-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.view-btn {
  background-color: var(--green);
  color: var(--white);
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* User Profile Styling */

.container {
  min-height: 100vh;
  height: 100%;
}

.profile-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: .25fr 1fr .75fr;
  gap: 1rem;
  flex-grow: 1;
}

body.dark-mode .profile-container {
  background-color: var(--green-dark);
}


.profile-title {
  grid-column: 1 / 4;
}

.profile-info {
  grid-row-start: 2;
}

.statistic-dropdown {
  grid-column-start: 1;
  grid-row-start: 3;
  margin: 20px;
}

.contribution-container {
  grid-area: 2 / 2 / 4 / 4; /* RS, CS, RE, CE */
  margin-right: 3rem;
}

body.dark-mode .contribution-container {
  background-color: var(--green-dark);
}

.statistic-dropdown {
  justify-self: center;
}


.back-btn {
  margin-top: 20px;
  padding: 10px 20px;
  background: red;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.back-btn:hover {
  background: darkred;
}

.chart-container {
  background-color: #1e1e1e;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

body.dark-mode .chart-container {
  background-color: var(--green-dark);
}

.chart-container svg {
  stroke: white !important;
  color: white !important;
}

.chart-container text {
  fill: white !important;
}

.error {
  color: red;
  margin-top: 10px;
}


/* Contact Page Styling */
.contact-page {
  background-color: var(--white);
  min-height: 100vh;
}

body.dark-mode .contact-page {
  background-color: var(--green-dark);
}

.contact-container {
  display: flex;
  flex-direction: column;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: var(--lime);
  padding: 30px;
  border-radius: 10px;
  width: 100%;
  max-width: 500px;
  color: var(--green);
  margin: auto; 
}

.contact-page main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  min-height: 80vh;
  background-color: inherit;
}

#contact-submit-btn {
  width:20%;
  border-radius: 17px;
}

.contact-form input,
.contact-form textarea {
  font-size: 1em;
  border: 2px solid var(--green);
  border-radius: 5px;
  background-color: var(--white);
  color: var(--green);
}

body.dark-mode .contact-form input,
body.dark-mode .contact-form textarea {
  background-color: var(--green-dark);
  color: var(--white);
  border-color: var(--green-darkest-80);
}


.thank-you-message {
  text-align: center;
  font-size: 1.2em;
  padding: 40px;
  border-radius: 10px;
}

.thank-you-message button {
  margin: 4vh 0;
  padding: 10px 15px;
  font-size: 1em;
  color: var(--white);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* About Page Styling */
.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 80vh;
  background-color: inherit;
}

.about-container p {
  margin: 0 5vw;
  font-size: 1.2em;
}

/* Login/Signup Page Styling */
.checkbox-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}
.account-redirect {
  text-align: center;
  margin-top: 20px;
  align-self: center;
}

